@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --cyan: hsla(179, 62%, 43%, 0.952);
  --light-cyan: hsla(179, 47%, 51%, 0.904);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 100%;
  min-height: 100vh;
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Karla", sans-serif;
}

/* ----------------------------- */
/* CONTAINER */
/* ----------------------------- */

.container {
  padding: 2.4rem;
}

.component-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.144);
}

.component-container section {
  padding: 3.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

/* ----------------------------- */
/* JOIN OUR COMMUNITY SECTION */
/* ----------------------------- */
.join-our-community {
  background-color: white;
  grid-column: 1/-1;
}

.join-our-community h1 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--cyan);
}

.join-our-community .join-our-community-text {
  max-width: 55rem;
}

.join-our-community-text h3 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6;
  padding-bottom: 1rem;
  color: var(--bright-yellow);
}

.join-our-community-text p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  color: var(--grayish-blue);
}

/* ----------------------------- */
/* MONTHLY SUBSCRIPTION SECTION */
/* ----------------------------- */
.monthly-subscription {
  background-color: var(--cyan);
  color: white;
}

.monthly-subscription h3 {
  font-size: 1.8rem;
}

.monthly-subscription-text p:first-child {
  font-size: 2.8rem;
  font-weight: 700;
  padding-bottom: 0.8rem;
}

.monthly-subscription-text p,
span {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--light-gray);
}

.monthly-subscription-text span {
  color: hsla(203, 44%, 93%, 0.705);
}

.monthly-subscription a {
  width: 100%;
  padding: 1.4rem 0;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.6rem;
  color: white;
  background-color: var(--bright-yellow);
  border-radius: 5px;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.144);
  margin-top: 1.4rem;
  transition: ease-in-out 0.3s;
}

/* ----------------------------- */
/* WHY US SECTION */
/* ----------------------------- */
.why-us {
  background-color: var(--light-cyan);
}

.why-us h3 {
  font-size: 1.8rem;
  color: white;
}

.why-us ul {
  list-style: none;
  font-weight: 500;
  line-height: 1.4;
  font-size: 1.4rem;
  color: hsla(203, 44%, 93%, 0.705);
}
